<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @evaluation.member_id %>
</p>

<p>
  <b>Met your expectations:</b>
  <%= @evaluation.met_your_expectations %>
</p>

<p>
  <b>Comment1:</b>
  <%= @evaluation.comment1 %>
</p>

<p>
  <b>Quality of meals and snacks:</b>
  <%= @evaluation.quality_of_meals_and_snacks %>
</p>

<p>
  <b>Comment2:</b>
  <%= @evaluation.comment2 %>
</p>

<p>
  <b>Seminar room and facilities:</b>
  <%= @evaluation.seminar_room_and_facilities %>
</p>

<p>
  <b>Comment3:</b>
  <%= @evaluation.comment3 %>
</p>

<p>
  <b>Presentation style:</b>
  <%= @evaluation.presentation_style %>
</p>

<p>
  <b>Comment4:</b>
  <%= @evaluation.comment4 %>
</p>

<p>
  <b>Pace of instruction was appropriate for learning goals:</b>
  <%= @evaluation.pace_of_instruction_was_appropriate_for_learning_goals %>
</p>

<p>
  <b>Comment5:</b>
  <%= @evaluation.comment5 %>
</p>

<p>
  <b>Able to effectively answer questions:</b>
  <%= @evaluation.able_to_effectively_answer_questions %>
</p>

<p>
  <b>Comment6:</b>
  <%= @evaluation.comment6 %>
</p>

<p>
  <b>Clearly written and mistake free:</b>
  <%= @evaluation.clearly_written_and_mistake_free %>
</p>

<p>
  <b>Comment7:</b>
  <%= @evaluation.comment7 %>
</p>

<p>
  <b>Sufficient detail for the topics covered:</b>
  <%= @evaluation.sufficient_detail_for_the_topics_covered %>
</p>

<p>
  <b>Comment8:</b>
  <%= @evaluation.comment8 %>
</p>

<p>
  <b>Additional comments:</b>
  <%= @evaluation.additional_comments %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
